<div class="form-group">
<label class="col-xs-2 control-label">{{parameter.name}}</label>
{{#if isRadio}}
  <div class="col-xs-5">
    {{#x-select value=value class="form-control"}}
      {{#if prompt}}
        {{#x-option}}-- Välj --{{/x-option}}
      {{/if}}
      {{#each optionList as |option|}}
      {{#x-option value=option.value}}{{option.label}}{{/x-option}}
    {{/each}}
  {{/x-select}}
  <span class="help-block">{{parameter.info}}</span>
  </div>
  {{#if value}}
  <div class="col-xs-5 form-choice">
    Valt alternativ: {{value}}
  </div>
  {{/if}}
{{/if}}
{{#if isText}}
  <div class="col-xs-5">
    {{input type="text" value=value class="form-control"}}
    <span class="help-block">{{parameter.info}}</span>
  </div>
{{/if}}
</div>
